@model KenticoMVCWidgetShowcase.Models.HomePageViewModel
@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>
                @Model.PageInfo.HeaderText
            </h1>
            <p>@Model.PageInfo.SubheaderText</p>
        </header>
        <p>@Model.PageInfo.IntroText</p>
    </div>
    @if (Model.PageInfo.HeaderImage.ToString() != "")
    {
        string headerimageurl = Url.Kentico().ImageUrl(Model.PageInfo.HeaderImage, SizeConstraint.MaxWidthOrHeight(400));
        <span class="image object">
            <img src="@headerimageurl" alt="@Model.PageInfo.HeaderText" />
        </span>
    }
</section>

<section>
    @Html.Kentico().EditableArea("area1")
</section>
